<nb-layout>
  <nb-layout-header fixed>lul</nb-layout-header>
  <nb-sidebar>Sidebar Content</nb-sidebar>
  <nb-layout-column>
    <div class="row">
      <div class="col-12 col-lg-6">
        <nb-card>
          <nb-card-body>
            hallo
          </nb-card-body>
        </nb-card>
      </div>

      <div class="col-12 col-md-6">
        <nb-card>
          <nb-card-body>
            hallo 2
          </nb-card-body>
        </nb-card>
      </div>

      <div class="col-12">
        <nb-card>
          <nb-card-body> </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
